.btn {
    padding: 0.8em 1em;
    font-size: 20px;
    line-height: 1em;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--secondary-color-dark);
    color: white;
}

.btn.btn-round {
    border-radius: 1.3em;
}

/* .btn.btn-round.fa {
    padding-left: 0;
    padding-right: 0;
    width: 2.6em;
} */
