.btn {
    margin: 0;
    padding: 0.8em 1em;
    font-size: 20px;
    line-height: 1em;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0 2px 8px 1px #0005;
}

.btn:hover {
    background-color: var(--secondary-color-dark);
    color: white;
}

.btn.btn-round {
    border-radius: 1.3em;
}

.btn.btn-round.fa {
    width: 1.3em;
    height: 1.3em;
    font-size: 40px;
    line-height: 1.2;
    padding: 0;
}

/* .btn.btn-round.fa {
    padding-left: 0;
    padding-right: 0;
    width: 2.6em;
} */
