.btn{
    padding: 0.8em 1em;
    font-size: 20px;
    line-height: 1em;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--secondary-color-dark);
    color: white;
}