.clock{
    display: inline-block;
    width: 100%;
    color: white;
}

.clock > .time{
    float: left;
    width: 25%;
    text-align: center;
    margin: 15px 0px;
}


.clock > .time > .value{
    font-family: cursive;
    display: inline-block;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
}


.clock > .time > .title{
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
}

@media(max-width: 480px){
    .clock > .time{
        width: 50%;
    }

    /* .clock > .time:nth-child(1),
    .clock > .time:nth-child(2){
        margin-bottom: 30px;
    } */
}