.form{
    display: inline;
    width: 100%;
}

.form > *{
    margin-bottom: 20px;
}

.form > *:last-child{
    margin-bottom: 0px;
}

.form > textarea{
    width: 100%;
    height: 100px;
    resize: vertical;
    min-height: 100px;
    max-height: 300px;
}

.form > label{
    display: none;
}

.form > .input{
    width: 100%;
    float: left;
    font-size: 17px;
    border: none;
    border-bottom: 2px solid grey;
    background-color: transparent;
    line-height: 1.5em;
    padding: 0.5em 0;
    border-radius: 0.2em;
}

.form *:focus{
    outline: 1px solid var(--secondary-color);
}