.mouse {
    margin: 0;
    font-size: 1px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.mouse > .mouse_box {
    display: inline-block;
    width: 26em;
    height: 40em;
    border: 2.5em solid white;
    border-radius: 13em;
}

.mouse > .mouse_box > .wheel {
    display: inline-block;
    width: 3em;
    height: 5em;
    background-color: white;
    margin-top: 8em;
    border-radius: 1.5em;
    animation-name: scrolling;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes scrolling {
    0% {
        margin-top: 8em;
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    100% {
        margin-top: 24em;
        opacity: 0;
    }
}
