.progres-bar{
    display: inline-block;
    width: 100%;
}

.progres-bar> .top{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.progres-bar> .top > .title{
    float: left;
}

.progres-bar> .top > .value{
    float: right;
}

.progres-bar > .bottom{
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: grey;
}

.progres-bar > .bottom > .bar{
    /* width: 80%; */
    height: 100%;
    background-color: var(--primary-color);
}