/* base */
@import '../base/reset.css';
@import '../base/layout.css';
@import '../base/variables.css';

/* 3rd-party */
@import '../components/font-awesome.min.css';

/* components */
@import '../components/button.css';
@import '../components/clock.css';
@import '../components/form.css';
@import '../components/mouse.css';
@import '../components/progres-bar.css';

/* custom style below this comment, for this page */

/* HERO: start */
.hero {
    padding-bottom: 30px;
    background-image: url(../../image/banner-1.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* .hero > .row-short {
    text-align: center;
} */

.row-short {
    text-align: center;
}

.logo {
    height: 50px;
    width: 100%;
    margin-bottom: 45px;
    object-fit: contain;
}

.main-title {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 15px;
}

.main-description {
    font-size: 18px;
    color: grey;
    margin-bottom: 30px;
}

.hero .clock {
    margin-bottom: 30px;
}

.hero .form {
    width: 90%;
    margin: 0 5% 15px;
}

.hero .form > .input {
    color: white;
    border-color: currentColor;
}

.hero .form > .input::placeholder {
    color: currentColor;
}

.hero .mouse {
}

/* HERO: end */

/* MAIN CONTENT: start  */
.column > * {
    margin-bottom: 20px;
}

.column > *:last-child {
    margin-bottom: 0;
}

.content-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2em;
}

.content-description {
    font-size: 17px;
    color: grey;
}

.content-description > .link {
    text-decoration: none;
    color: var(--secondary-color);
}
.content-description > .link:hover {
    text-decoration: underline;
}

.progres-bar {
}

main .form > button {
    float: right;
}

@media (min-width: 900px) {
    main .form > input.input {
        width: calc((100% - 20px) / 2);
    }

    main .form > input.input:last-of-type {
        float: right;
    }
}

/* MAIN CONTENT: end  */

/* FOOTER: start */

footer.container {
    font-size: 17px;
    color: #fff8;
    padding-top: 0;
}

.socials {
    padding: 15px 0;
    text-align: center;
    border-bottom: 2px solid white;
}

.socials > .fa {
    width: 50px;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    border-radius: 50%;
    transition: all 0.5s;
}

.socials > .fa:hover {
    background-color: white;
    color: var(--primary-color);
}

footer .logo {
    width: 100%;
    max-height: 50px;
    margin: 50px 0;
    object-fit: contain;
    object-position: top;
}

footer .trio > p {
    padding: 0 10px;
    display: inline-block;
    position: relative;
}

footer .trio > p::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

footer .trio > p:first-child:before {
    display: none;
}

footer .link {
    color: white;
    text-decoration: none;
}

@media (max-width: 700px) {
    footer .trio > p {
        width: 100%;
    }

    footer .trio > p::before {
        display: none;
    }
}
/* FOOTER: end */
